@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Montserrat-ExtraBold.ttf) format('truetype');
}

* {
    font-family: 'montserrat';
}

.display-4, .display-3, .display-2, .display-1, .headline, .title, .subheading, .body-2, .body-1, .caption {
    font-family: 'montserrat' !important;
    color: #434343;
} 

.toasted.toast {
    font-family: 'Roboto', sans-serif;
}

.toasted-container.top-right {
    top: 2% !important;
    right: 2% !important;
}

div.v-carousel__controls {
    background: none;
}

@media all and (min-height: 300px) {
    .v-carousel.main-carousel {
        height: 100vh;
        min-height: 640px;
    }
}

.v-btn__content {
    font-weight: 700 !important;
}

.v-messages__message {
    line-height: 16px;
}

input, textarea, label.v-label, .v-messages {
    font-weight: 500;
}

.btn-simple{
    border: 1px solid silver;
    color: #a09d9d !important;
}
.btn-simple:hover{
    color: black !important;
}

a {
    color: inherit;
    text-decoration: none;
}

/* portfolios */

.img-portf {
    width: 100%;
    height: 100%;
    background-size: 100% 100% !important;
    transition: transform 0.2s;
  }

  .portfolios a.v-card.theme--light:hover {
      box-shadow: 0px 4px 1px -1px rgba(0, 0, 0, .2), 0px 1px 8px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  }

  .img-portf:hover {
    transform: scale(1.1);
  }

  .portfolio-carousel{
    box-shadow: unset !important;
  }

  /* hidden box */

  .hidden-box {
    opacity:0;
    position: absolute;
    width: calc(100% - 16px);
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
  }

  .hidden-box * {
    color:inherit;
  }

  .example-slider-item:hover .hidden-box{
    opacity:1;
  }